@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0D698B;

  .card{
    background-color: #050533;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #000000c9;
    
    .container-card{
      display: flex;
      flex-direction: column;
      padding: 2rem 0;

      .header{
        margin: 1rem 3.75rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dice{
          background-color: #E34234;
          width: 3.75rem;
          height: 3.75rem;
          clip-path: circle(50%);
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all ease 0.5s;

          &:hover{
            filter: brightness(1.2);
          }

          svg{
            width: 32px;
            height: 26px;
          }
        }

        .search{
          margin-left: 2rem;
          display: flex;
          align-items: center;

          input{
            height: 45px;
            width: 355px;
            border: 0;
            border-radius: 8px 0 0 8px;
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            padding-left: 5px;

            &:focus{
              outline: none;
            }

            &::placeholder{
              color: #AAAAAA;
              
            }
          }

          button{
            height: 45px;
            width: 45px;
            border: 0;
            border-radius: 0 8px 8px 0;
            background-color: #E34234;
            cursor: pointer;
            transition: all ease 0.5s;

            &:hover{
              filter: brightness(1.2);
            }

            svg{
              width: 24px;
              height: 24px;
            }
          }
        }
      }

      .advice{
        max-width: 520px;
        height: 100px;
        margin: 0 auto;
        font-family: 'Poppins', sans-serif;
        color: #FFF;
        font-size: 20px;
        display: flex;
        align-items: center;
        text-align: center;
      }
    }
  }
}

.hidden{
  display: none;
}